.DS_Store
.idea/
.vs/
.vscode/
cmake-build-*/
build-*/
build/
tags
out/
CMakeSettings.json
vcpkg_installed/
*.DotSettings.user
.cache
builds/
*.bak
*.swp
compile_commands.json
compile_flags.txt
.vimspector.json
.vimspector.session
backends.txt
lldb-vscode.json
run.sh
