name: cmake-workflow
on:
    - push
    - pull_request

jobs:
    job:
        name: ${{ matrix.os }}-hosted-pure
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                include:
                    - os: windows-latest
                      triplet: x64-windows
                    - os: ubuntu-latest
                      triplet: x64-linux
                    - os: macos-latest
                      triplet: x64-osx
        env:
            CMAKE_BUILD_DIR: ${{ github.workspace }}/builddir/
            VCPKG_ROOT: ${{ github.workspace }}/vcpkg

        steps:
            - uses: actions/checkout@v2

            - uses: lukka/get-cmake@latest

            - name: Install Deps (Windows)
              if: matrix.os == 'windows-latest'
              uses: crazy-max/ghaction-chocolatey@v1
              with:
                  args: install nasm

            - name: Install Deps (Ubuntu)
              if: matrix.os == 'ubuntu-latest'
              run: sudo apt-get install nasm libxext-dev

            - name: Install Deps (MacOS)
              if: matrix.os == 'macos-latest'
              run: brew install nasm

            - name: Run vcpkg
              uses: lukka/run-vcpkg@v7.4
              with:
                  setupOnly: true
                  vcpkgJsonGlob: "**/vcpkg.json"
                  vcpkgDirectory: "${{ github.workspace }}/vcpkg"
                  vcpkgGitCommitId: "5568f110b509a9fd90711978a7cb76bae75bb092"
                  appendedCacheKey: ${{ hashFiles( '**/vcpkg.json' ) }}
                  additionalCachedPaths: ${{ env.buildDir }}/vcpkg_installed

            - name: cmake
              uses: lukka/run-cmake@v3.4
              with:
                  vcpkgDirectory: "${{ github.workspace }}/vcpkg"
                  vcpkgGitCommitId: "44d94c2edbd44f0c01d66c2ad95eb6982a9a61bc"
                  useVcpkgToolchainFile: true
